<% if ['Hora reservada','Hora confirmada'].include?(@agendamiento.estado.nombre) %>
	<button type="button" class="btn btn-primary" onclick="marcarLlegada(<%= @agendamiento.id %>)" >Realizar ingreso del paciente</button>
<% end %>
<% if ['Hora reservada'].include?(@agendamiento.estado.nombre) %>
	<button type="button" class="btn btn-primary" onclick="confirmarHora(<%= @agendamiento.id %>)" >Confirmar hora</button>
<% end %>
<% if ['Hora reservada','Hora confirmada'].include?(@agendamiento.estado.nombre) %>
	<button type="button" class="btn btn-primary" onclick="cancelarHora(<%= @agendamiento.id %>)" >Cancelar hora</button>
<% end %>