<h4>Gestión de ingreso del paciente<h4>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Valor de la atención</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
</div>


<p>Partial: hola <%= @agendamiento.id %></p>