<table>
	<tr>
		<th>Prestador</th>
		<th>Administrativo</th>
		<th>Profesional</th>
		<th>Hora</th>
		<th>Estado</th>
		<th>Paciente</th>
		<th>Hora inicio real</th>
		<th>Hora término real</th>
	</tr>
<% @Fechas.each do |fecha| %>
	<% @fecha=fecha %>
	<%= render @fecha %>
	<% #Va a ag_agendamientos/_ag_agendamientos.html.erb %>
<% end %>

</table>