<div class="panel panel-success">
<div class="panel-heading">
  <h3 class="panel-title">Atención de Salud</h3>
</div>
<div class="panel-body">
<div class="row">
	<div class="col-md-6 div-form-atencion">
		<form class="form-horizontal">
		<label class="col-md-4 control-label" for="selectbasic">Select Basic</label>  
	    <select id="selectbasic" name="selectbasic" class="form-control">
	      <option value="1">Option one</option>
	      <option value="2">Option two</option>
	    </select>  

	  	<label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
	    <select id="selectbasic" name="selectbasic" class="form-control">
	      <option value="1">Option one</option>
	      <option value="2">Option two</option>
	    </select>
    </form>

	</div>
	<div class="col-md-6 div-form-atencion">
		
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes">Multiple Checkboxes</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
      Option one
    </label>
	</div>
  <div class="checkbox">
    <label for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
      Option two
    </label>
	</div>
  </div>
</div>

	</div>
</div> <!--Cierre div row -->
</div> <!--Cierre div panel-body -->
</div> <!--Cierre div panel -->





<div id='buscadorHora'></div>
