<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Formulario de constacia de información al paciente GES</a></li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del prestador</h3>
  </div>
  <div class="panel-body">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Institución</label>
			</div>
			<div class="col-md-8 column">:
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Dirección</label>
			</div>
			<div class="col-md-8 column">:
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">:
				<label>Profesional que notifica</label>
			</div>
			<div class="col-md-8 column">
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">:
				<label>Rut profesional</label>
			</div>
			<div class="col-md-8 column">
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Datos del paciente</h3>
  </div>
  <div class="panel-body">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Nombre</label>
			</div>
			<div class="col-md-8 column">:
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Rut</label>
			</div>
			<div class="col-md-8 column">:
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">:
				<label>Fonasa - Isapre</label>
			</div>
			<div class="col-md-8 column">
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">:
				<label>Domicilio</label>
			</div>
			<div class="col-md-8 column">
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">:
				<label>Telefono Fijo - Celular</label>
			</div>
			<div class="col-md-8 column">
			</div>
		</div>
		<div class="row clearfix">			
			<div class="col-md-4 column">:
				<label>Dirección de correo electrónico</label>
			</div>
			<div class="col-md-8 column">
			</div>
		</div>
	</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Información médica</h3>
  </div>
  <div class="panel-body">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-4 column">
				<label>Confirmación Diagnóstica GES </label>
			</div>
			<div class="col-md-8 column">:
			</div>
		</div>
		<div class="row clearfix">	
			<div class="col-md-4 column">
				<label>Confirmación Diagnóstica - Paciente en tratamiento</label>
			</div>
			<div class="col-md-8 column">:
			</div>
		</div>		
	</div>
  </div>
</div>


<div class="panel panel-default">
	<div class="panel-body">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
				Constancia
				</div>			
			</div>
			<div class="row clearfix">	
				<div class="col-md-12 column">
				Importante				
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Fecha y hora de la noticiación</label>
				</div>
				<div class="col-md-8 column">:
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Informa Diagnóstico GES</label>
				</div>
				<div class="col-md-8 column">:
					<label>Tomé conocimiento</label>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="col-md-12 column">
				En caso				
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>nombre</label>
				</div>
				<div class="col-md-8 column">:
					<label>Rut</label>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<label>Celular</label>
				</div>
				<div class="col-md-8 column">:
					<label>Correo</label>
				</div>
			</div>
		</div>
 	</div>
</div>

Problemas de salud Garantizados según 

