<a href="#modal-container-diag-<%= p_d.id%>" data-toggle="modal" class="list-group-item" id="pd<%= p_d.id%>" >
	<% if p_d.diagnostico.auge %>
		<p class="list-group-item-text auge"><% p_d.diagnostico.auge %><%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %>
			<button type="button" class="btn btn-xs btn-info boton-auge" >AUGE</button>
		</p>
	<% else %>
		<p class="list-group-item-text"><% p_d.diagnostico.auge %><%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %></p>
	<% end %>
</a>