<a href="#modal-container-diag-<%= p_d.id%>" data-toggle="modal" class="list-group-item" id="pd<%= p_d.id%>" >
	<% if p_d.diagnostico.esAuge %>
		<p class="list-group-item-text auge"><%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %></p>
		<span class="alert alert-success boton-auge" >AUGE</span>		
	<% else %>
		<p class="list-group-item-text"><%= p_d.diagnostico.codigo_cie10 + ' ' + p_d.diagnostico.nombre %></p>
	<% end %>
</a>