<div id="endodontic" ng-controller="EndodonticController as endodontic"  class="container">
	<div class="row padding-bottom">
		<label class="titulo">Pieza dental:</label>
		<select id="select_endodoncia" class="select_endodoncia">
      <option></option>
      <option>11</option>
    </select>
	</div>
	<div class="row padding-top">
		<div class="col-md-8 borde-derecho">
			<div class="container no-padding">
				<div class="row">
					<div class="col-md-5"> 
						<label class="no-margin">El dolor comenzó</label>:
					  <div class="radio no-margin">
					    <label for="radios-0"><input type="radio" name="radios" id="radios-0" value="1"> Hace menos de 2 días</label>
						</div>
					  <div class="radio no-margin">
					    <label for="radios-1"><input type="radio" name="radios" id="radios-1" value="2"> Hace más de 2 días</label>
						</div>
						<label class="label-end">Intensidad</label>:
					  <div class="radio no-margin">
					    <label for="radios-0"><input type="radio" name="radios" id="radios-0" value="1"> Suave</label>
						</div>
					  <div class="radio no-margin">
					    <label for="radios-1"><input type="radio" name="radios" id="radios-1" value="2"> Moderado</label>
						</div>
						<div class="radio no-margin">
					    <label for="radios-1"><input type="radio" name="radios" id="radios-1" value="2"> Intenso</label>
						</div>
						<label class="label-end">El dolor es</label>:<br>
						<label class="radio-inline" for="radios-0">
				      <input type="radio" name="radios" id="radios-0" value="1"> Continuo
				    </label> 
				    <label class="radio-inline" for="radios-1">
				      <input type="radio" name="radios" id="radios-1" value="2"> Intermitente
				    </label>
					</div>
					<div class="col-md-7">
						<label>Otras características</label>:
						<div class="checkbox">
					    <label for="checkboxes-0"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"> Duele al acostarse o inclinarse</label>
						</div>
					  <div class="checkbox">
					  	<label for="checkboxes-1"><input type="checkbox" name="checkboxes" id="checkboxes-1" value="2"> Pulsátil</label>
						</div>						
						<div class="checkbox">
					    <label for="checkboxes-0"><input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"> Es posible señalar con un dedo el diente con dolor</label>
						</div>
					  <div class="checkbox">
					  	<label for="checkboxes-1"><input type="checkbox" name="checkboxes" id="checkboxes-1" value="2"> Cede con analgésicos</label>
						</div>
						<label class="label-end">Generado por los siguientes estímulos</label>:<br>
					  <label class="checkbox-inline" for="checkboxes-0">
				      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"> Calor
				    </label>
				    <label class="checkbox-inline" for="checkboxes-1">
				      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2"> Frío
				    </label>
				    <label class="checkbox-inline" for="checkboxes-2">
				      <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3"> Dulce
				    </label>
				    <label class="checkbox-inline" for="checkboxes-3">
				      <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4"> Al masticar
				    </label><br>
						<label class="label-end">Comentario</label>
						<textarea id='commentario-endodoncia' class="input-mini form-control" rows='2' cols='40'></textarea>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<label>Examen extraoral</label>
			<textarea id='commentario-endodoncia' class = "form-control" rows='2' cols='20'></textarea>
			<label>Examen intraoral</label>
			<textarea id='commentario-endodoncia' class = "form-control" rows='2' cols='20'></textarea>
			<label>Examen radiológico</label>
			<textarea id='commentario-endodoncia' class = "form-control" rows='2' cols='20'></textarea>
		</div>
	</div>
	<hr>
	<div class="row">
		<label>Pruebas de diagnóstico</label>
	  <div ng-repeat="diagnosis in endodontic.diagnosis" class="container">
      <diagnosis-test></diagnosis-test> 
    </div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>Diagnóstico</label>
		</div>
		<div class="col-md-6">
			<label>Tratamiento</label>
		</div>
	</div>
</div>

<%= javascript_include_tag "atencion_salud/dental" %>