<div class="row">
	<div class="col-md-5 ajus-pad-end">
		<span class="strong"> Diagnóstico </span>
	</div>
	<div class="col-md-3 ">
		<span class="strong"> Tratamiento </span>
	</div>
	<div class="col-md-2 ">
		<span class="strong"> Valor </span>
	</div>
	<div class="col-md-2 "> 
		<span class="strong"> Editar </span>
	</div>
</div>
