<div class="row">
	<div class="col-md-3">
		<span class="strong"> Pieza dental </span>
	</div>
	<div class="col-md-3 ">
		<span class="strong"> Diagnóstico </span>
	</div>
	<div class="col-md-3 ">
		<span class="strong"> Tratamiento </span>
	</div>
	<div class="col-md-1 ">
		<span class="strong"> Valor </span>
	</div>
	<div class="col-md-1 ">
		<span class="strong"> Descuento </span>
	</div>
	<div class="col-md-1 "> 
		<span class="strong"> Editar </span>
	</div>
</div>
