<div id="treatment" ng-controller="TreatmentController as treatment" class="container no-padding">
	<div class="row">
		<fieldset>
			<legend>Endodoncia</legend>
			<div ng-repeat="item in odontogramList" class="container">
				<div ng-repeat="glosa_endo in item | filter:noSanos | filter:enPresupuesto">
    			<glosa-endo></glosa-endo> 
    		</div>
  		</div>
		</fieldset>

	</div>
	<div class="row">
		<fieldset>
			<legend>Periodoncia</legend>
		</fieldset>

	</div>
	<div class="row">

	</div>
	<div class="row">
		

	</div>

</div>

<%= javascript_include_tag "atencion_salud/dental" %>