<a href="#modal-container-med-<%= persona_medicamento.id %>" data-toggle="modal" class="list-group-item" onclick="actualizarDiagnosticos(<%= persona_medicamento.id %>)" id="pm<%= persona_medicamento.id %>" >
  <p class="list-group-item-text ellipsis"><%= persona_medicamento.medicamento.nombre %></p>
</a>