<% if !@persona_diagnostico.exists? %>
	$("<p id='no-med-<% @med %>'>No hay diagnósticos seleccionados.</p>").appendTo("#div-diagnosticos-"+<%= escape_javascript(@med) %> ); 
<% else %>
	$('#no-med-<% @med %>').remove();
	<% @persona_diagnostico.each do |p_d| %> 
		$("<%= escape_javascript( render :partial => "persona_medicamento/persona_diagnostico", :locals => {:p_d => p_d, :med => @med, :pe_di => @pe_di, :tipo => @tipo } ) %>").appendTo("#div-diagnosticos-"+<%= escape_javascript(@med) %> ) ;    
	<% end %>
<% end %>

