<tr>
	<td><%= test.fecha_test_audit.strftime('%Y-%m-%d') %></td>
	<td><%= test.audit_puntaje %></td>
	<td><a href="#modal-container-hab-alc-<%= test.id %>" data-toggle="modal" id="hab-alc-<%= test.id %>" >Ver test</a></td>
</tr>