<h2>Test AUDIT realizados</h2>
<% unless @test_audit.blank? %>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-3 column">Fecha
			</div>
			<div class="col-md-3 column">Puntaje
			</div>
			<div class="col-md-2 column">
			</div>
		</div>
		<% @test_audit.each do |test| %>
			<div class="row clearfix">
				<div class="col-md-3 column"><%= test.fecha_test_audit.to_s(:short) %>
				</div>
				<div class="col-md-3 column"><%= test.audit_puntaje %>
				</div>
				<div class="col-md-2 column"><%= link_to 'Ver test', {:controller => :habitos_alcohol, :action => 'show', :id => test.id }, :method => :get %>
				</div>
			</div>
		<% end %>	
	</div>
<% else %>
No se han realizado test AUDIT.
<% end %>	
<%= javascript_include_tag "habitos_alcohol" %>