<h2>Test AUDIT realizados</h2>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">Fecha
		</div>
		<div class="col-md-4 column">Puntaje
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
	<% @test_audit.each do |test| %>
		<div class="row clearfix">
			<div class="col-md-4 column"><%= test.fecha_test_audit.to_s(:short) %>
			</div>
			<div class="col-md-4 column"><%= test.audit_puntaje %>
			</div>
			<div class="col-md-4 column"><%= link_to 'Ver test', {:controller => :habitos_alcohol, :action => 'show', :id => test.id }, :method => :get %>
			</div>
		</div>
	<% end %>	
</div>