<h4>Seguimiento pediátrico</h4>
<table class="table table-striped table-hover table-condensed">
  <thead><tr class='info'><th class="col-sm-1">Edad</th><th class="col-sm-1">Vacuna</th><th class="col-sm-1">Estado de vacunación</th></tr></thead>
  <tbody>
    <% @calendario_vacunas_persona.each do |calendario_vacuna| %>
        <tr>
          <td><%= calendario_vacuna.edad %></td>
          <td><%= calendario_vacuna.vacuna.nombre %></td>
          <td><label class="calendario-vacunas" for="checkboxes-0"><input type="checkbox" id="checkboxes-vac-<%= calendario_vacuna.id %>" <%= 'checked' unless calendario_vacuna.persona_id.nil? %> ></label></td>
        </tr>
    <% end %>
   </tbody>    
</table>      
