<h4>Lista de vacunas administradas</h4>

<% if @personas_vacunas.blank? %>
  No hay información de vacunas administradas.
<% else %>   
  <table id="tabla-persona-vacunas" class="table table-striped table-hover table-condensed">
    <thead>
      <tr class="info" ><th>Vacuna</th><th>Edad</th><th>Fecha</th><th>Atención de salud</th></tr></thead>
    <tbody id='body-persona-vacuna'>
      <% if !@personas_vacunas.blank? %>
        <% @personas_vacunas.each do |persona_vacuna| %>
          <%= render :partial => "persona_vacuna", :locals => {:persona_vacuna => persona_vacuna} %>
        <% end %>
      <% end %>  
    </tbody>    
  </table>


<% end %>

<%= render :partial => @partial_seguimiento unless @partial_seguimiento.blank? %> 
<%= javascript_include_tag "vacunas" %>