<div class='container'>
	<div class='row'><h4>Últimas acciones</h4>
		<% if tieneRol('Generar agendamientos') %>
	  	<div id="acciones_masivas_div">
	  		<% unless @acciones_masivas.empty? %>
	  			<%= button_to "Actualizar", root_path, :method => :get, class: "btn btn-xs btn-success" %><br><br>
	  		<% end %>
	  		<table class="table table-striped table-hover table-condensed">
				  <thead>
				    <tr class="info">
				    	<th class="col-sm-1">Tipo</th>
				    	<th class="col-sm-1">Fecha</th>
				    	<th class="col-sm-1">Profesional</th>
				    	<th class="col-sm-1">Especialidad</th>
				    	<th class="col-sm-1">Agendamientos</th>
				    	<th class="col-sm-1">Eliminados</th>
				    	<th class="col-sm-1">Acción</th>
				    </tr>
				  </thead>
				  <tbody id='acciones_masivas_body'>
				  	<% if @acciones_masivas.empty? %>
				  		<tr id='tr-vacio-acciones-masivas'><td colspan='7'>No se han realizado acciones aún.</td></tr>
    				<% else %> 
			  			<% @acciones_masivas.each do |accion_masiva| %>			  		     
			  				<%= render :partial => "agendamiento/accion_masiva", :locals => {:accion_masiva => accion_masiva } %>
			  			<% end %>
			  		<% end %>
			  	</tbody>    
				</table>
	  	</div>
	  <% end %>	
	</div>
</div>