<div id="log-actualizaciones">

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Últimas actualizaciones</h3>
  </div>
  <div class="panel-body panel-home">
    <table class="table table-log table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr><th class="col-sm-2 vert-align">Paciente</th><th class="col-sm-1 vert-align">Hora</th><th class="col-sm-1 vert-align">Evento</th><th class="col-sm-2 vert-align">Modificado por</th></tr>
      </thead>
      <tbody>
        <% if @actualizaciones %>
        <% if @actualizaciones[0] == nil %>
        <tr><td colspan="4" >No hay actualizaciones que mostrar.</td></tr>
        <% end %>
        <% end %>
        <% @actualizaciones.each do |actualizacion| %>
          <tr>
            <td>  <%= PerPersonas.find(actualizacion.persona_id).showName('%n%p%m') %>    </td>
            <td><% if actualizacion.fecha %>
                  <%= actualizacion.fecha.to_s(:time) %>
                <% else %>
                  No agendada.
                <% end %>
            </td>          
            <td><%= actualizacion.agendamiento_estado.nombre %></td> 
            <td><%= actualizacion.responsable.showName('%n%p%m') %> </td> 
          </tr>
        <% end %>  
      </tbody>
    </table>
   
  </div>
  <!--
  <div class="panel-footer">
    Panel footer
  </div>-->
</div>

</div>
