<% agendamientos = getPacientesEnEspera %>

<table class="table">
	<thead>
		<tr><th>Paciente</th><th>Hora atención</th><th>Estado</th><th>Acción</th></tr>
	</thead>
	<tbody>
<% for agendamiento in agendamientos %>
  <tr>
    <td><%= agendamiento.persona.showName('%n%p%m') %></td>
    <td><%= agendamiento.fecha_comienzo %></td>  
    <td><p><%= button_to "Atender", {:controller => :atenciones_salud,
      :action => 'crearAtencion', :id => agendamiento.id }, :method => :post,class: "btn btn-xsbtn-success" %><button class='btn btn-xs btn-success'>Editar</button><button class='btn btn-xs btn-danger'>Cancelar</button></p></td>    
  </tr>
<% end %>

	</tbody>
</table>

