<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <% if user_signed_in? %>

		<h3>you have succesfully signed in</h3>
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

		<% else %>

		<h1> welcom to rails community</h1>
		<%= link_to "Sign In", new_user_session_path, :method => :get ,class: "btn btn-large btn-primary" %>
		<%= link_to "Sign up", new_user_registration_path, :method => :get , class: "btn btn-large btn-primary"%>

	<% end %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>