<div class="container ajuste-dismissible">	
  <div class="row clearfix">
    <div id="alert-ocu-new" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      Debe seleccionar una ocupación. 
    </div>
    <div class="col-md-4 column">
      <label>Ocupación</label>
    </div>
    <div class="col-md-8 column">
      <select class="select_ocupacion" id="select_ocupacion-new">
        <option></option>
      </select>
    </div>
  </div></br>
  <div class="row clearfix">
		<div id="alert-fecha-ocu-new" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	La fecha de inicio debe ser menor que la fecha final.	
		</div>
		<div id="alert-fecha-inicio-ocu-new" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha de inicio.
		</div>
    <div class="col-md-4 column">
      <label>Fecha inicio</label>
    </div>
    <div class="col-md-8 column">
      <input id="f_i_ocu-new" class="datepicker" type="text" >
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="checkbox">
        <label for="ocupacion-actual-new">
          <input type="checkbox" name="checkboxes" id="ocupacion-actual-new" value="1" class='ocupacion-actual'>
          <strong>Esta es mi ocupación actual</strong>
        </label>
      </div>
    </div>  
  </div> 
  <div id="div-fecha-final-new" class="row clearfix">
  	<div id="alert-fecha-final-ocu-new" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha final.
		</div>    
    <div class="col-md-4 column">
      <label>Fecha final</label>
    </div>
    <div class="col-md-8 column">
      <input id="f_f_ocu-new" class="datepicker" type="text" >
    </div>
  </div>

</div>
