<h4>Editar antecedente laboral</h4>
<div class="container">	
  <div class="row clearfix">
    <div id="alert-ocu" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      Debe seleccionar una ocupación. 
    </div>
    <div class="col-md-4 column">
      <label>Ocupación</label>
    </div>
    <div class="col-md-8 column">
      <input type='hidden' class="select_ocupacion" id="select_ocupacion"></input>
    </div>
  </div></br>
  <div class="row clearfix">
		<div id="alert-fecha-ocu" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	La fecha de inicio debe ser menor que la fecha final.	
		</div>
		<div id="alert-fecha-inicio-ocu" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha de inicio.
		</div>
    <div class="col-md-4 column">
      <label>Fecha inicio</label>
    </div>
    <div class="col-md-8 column">
      <input id="f_i_ocu" class="datepicker" type="text" value="<%= @ocupacion.fecha_inicio.strftime('%Y-%m-%d') %>">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="checkbox">
        <label for="ocupacion-actual">
          <input type="checkbox" name="checkboxes" id="ocupacion-actual" value="1">
          <strong>Esta es mi ocupación actual</strong>
        </label>
      </div>
    </div>  
  </div> 
  <div id="div-fecha-final" class="row clearfix">
  	<div id="alert-fecha-final-ocu" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha final.
		</div>    
    <div class="col-md-4 column">
      <label>Fecha final</label>
    </div>
    <div class="col-md-8 column">
      <input id="f_f_ocu" class="datepicker" type="text" value="<%= @ocupacion.fecha_termino.strftime('%Y-%m-%d') unless @ocupacion.fecha_termino.nil?  %>" >
    </div>
  </div></br>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="form-group">
        <div class="col-md-8">
          <button id="agregar-ocupacion" class="btn btn-success">Editar antecedente</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "ocupaciones" %>			