<div class="modal fade" id="modal-container-pres-<%= p_p.id%>" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= p_p.prestacion.nombre %></h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
         <!--<button type="button"  onclick="guardarDiagnostico()" class="btn btn-primary">Guardar</button>-->
          <button id="bcp<%= p_p.id%>" type="button" class="btn btn-danger" onclick="eliminarPrestacion(<%= p_p.id%>)">Eliminar</button>
      </div>
    </div>            
  </div>        
</div>
