<a href="#" data-toggle="modal" class="list-group-item" id="pp<%= p_p.id%>" >
  <p class="list-group-item-text"><%= p_p.prestacion.codigo_fonasa+' ' + p_p.prestacion.nombre %>
  	<button id="bcp<%= p_p.id%>" type="button" class="btn btn-xs btn-danger" onclick="eliminarPrestacion(<%= p_p.id%>)">Eliminar</button>
  </p>
</a>