
<p>
  <strong>Id:</strong>
  <%= @atencion_salud.id %>
</p>
 
<p>
  <strong>Motivo consulta:</strong>
  <%= @atencion_salud.motivo_consulta %>
</p>
<p>
  <strong>Indicaciones generales:</strong>
  <%= @atencion_salud.indicaciones_generales %>
</p>

