<div class="container ajuste-dismissible">

	<div class="row clearfix">
		<div class="col-md-12 column">

			<div id="alert-cigarros-dia-new" class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			 	Ingrese un número positivo.
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="appendedtext">Cigarros por día</label>
			  <div class="col-md-4">
			    <div class="input-group">
			      <input id="cigarros-dia-new" name="appendedtext" class="form-control" placeholder="Ingrese " type="text">
			      <span class="input-group-addon">cigarros por día</span>
			    </div>			   
			  </div>
			</div>

		</div>
	</div>

	<div class="row clearfix tabaco">

		<div id="alert-fecha-inicio-new" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha de inicio.
		</div>

    <div class="col-md-4 column">
      <label class="tabaco">Fecha inicio</label>
    </div>
    <div class="col-md-8 column">
      <input id="fecha-inicio-tabaco-new" class="form-control agno tabaco" type="text" >
    </div>
  </div>

  <div class="row clearfix">

  	<div id="alert-fecha-final-new" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha final.
		</div>
    
    <div class="col-md-4 column">
      <label class="tabaco">Fecha final</label>
    </div>
    <div class="col-md-8 column">
      <input id="fecha-final-tabaco-new" class="form-control agno tabaco" type="text" >
    </div>
  </div>

  <div class="row clearfix">
		<div class="col-md-12 column">

			<div class="form-group">
			  <label class="col-md-4 control-label" for="appendedtext">Paquetes año</label>
			  <div class="col-md-4">
			    <div class="input-group">
			      <input id="paquetes-agno-new" name="appendedtext" class="form-control ajuste" placeholder="Cantidad" disabled type="text">
			      <span class="input-group-addon">paquetes año</span>
			    </div>			   
			  </div>
			</div>

		</div>
	</div>

</div>

<%= javascript_include_tag "ant_tab" %>
