<h3>Consumo de tabaco</h3>
<div class="container container-tabaco">

	<div class="row clearfix">
		<div class="col-md-12 column">

			<div id="alert-cigarros-dia" class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			 	Ingrese un número positivo.
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label" for="appendedtext">Cigarros por día</label>
			  <div class="col-md-4">
			    <div class="input-group">
			      <input id="cigarrosdia" name="appendedtext" class="form-control" placeholder="Ingrese cantidad de..." type="text">
			      <span class="input-group-addon">cigarros por día</span>
			    </div>			   
			  </div>
			</div>

		</div>
	</div>

	<div class="row clearfix tabaco">

		<div id="alert-fecha" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	La fecha de inicio debe ser menor que la fecha final.	
		</div>

		<div id="alert-fecha-inicio" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha de inicio.
		</div>

    <div class="col-md-4 column">
      <label class="tabaco">Fecha inicio</label>
    </div>
    <div class="col-md-8 column">
      <input id="f_i" class="datepicker tabaco" type="text" >
    </div>
  </div>

  <div class="row clearfix">

  	<div id="alert-fecha-final" class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		 	Ingrese una fecha final.
		</div>
    
    <div class="col-md-4 column">
      <label class="tabaco">Fecha final</label>
    </div>
    <div class="col-md-8 column">
      <input id="f_f" class="datepicker tabaco" type="text" >
    </div>
  </div>

  <div class="row clearfix">
		<div class="col-md-12 column">

			<div class="form-group">
			  <label class="col-md-4 control-label" for="appendedtext">Paquetes año</label>
			  <div class="col-md-4">
			    <div class="input-group">
			      <input id="paquetesAgno" name="appendedtext" class="form-control ajuste" placeholder="Cantidad de " disabled type="text">
			      <span class="input-group-addon">paquetes año</span>
			    </div>			   
			  </div>
			</div>

		</div>
	</div>

	<div class="row clearfix tabaco">
		<div class="col-md-12 column">

			<div class="form-group">
			  <div class="col-md-8">
			    <button id="new" name="ingresar" class="guardar-consumo btn btn-success">Guardar consumo</button>
			    <button id="button2id" name="button2id" class="btn btn-danger">Cancelar</button>
			  </div>
			</div>

		</div>
	</div>	

</div>

<%= javascript_include_tag "habitos_tabaco" %>