<div class="row clearfix">
	<div class="col-md-12 column">	
		<div class="alert alert-default alert-info alert-act" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
			<ol>
				<li>Los adultos de 18 a 64 años deberían acumular un mínimo de 150 minutos semanales de actividad física aeróbica moderada, o bien un mínimo de 75 minutos semanales de actividad aeróbica vigorosa, o bien una combinación equivalente de actividad moderada y vigorosa.</li>
				<li>La actividad aeróbica se realizará en sesiones de 10 minutos, como mínimo.</li>
				<li>Para obtener mayores beneficios, los adultos deberían incrementar esos niveles hasta 300 minutos semanales de actividad aeróbica moderada, o bien 150 minutos de actividad aeróbica vigorosa cada semana, o bien una combinación equivalente de actividad moderada y vigorosa.</li>
				<li>Deberían realizar ejercicios de fortalecimiento muscular de los grandes grupos musculares dos o más días a la semana.</li>
			</ol>
		</div>
	</div>
</div>
