<div class="row clearfix">
	<div class="col-md-8 column">	
		<div class="alert alert-default alert-info alert-act" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
			<ol>
				<li>Los niños y jóvenes de 5 a 17 años deberían acumular un mínimo de 60 minutos diarios de actividad física moderada o vigorosa.</li>
				<li>La actividad física por un tiempo superior a 60 minutos diarios reportará un beneficio aún mayor para la salud.</li>
				<li>La actividad física diaria debería ser, en su mayor parte, aeróbica. Convendría incorporar, como mínimo tres veces por semana, actividades vigorosas que refuercen, en particular, los músculos y huesos.</li>
			</ol>
		</div>
	</div>
</div>
