<div class="row clearfix">
	<div class="col-md-12s column">	
		<div class="alert alert-default alert-info alert-act" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
			<ol>
				<li>Los adultos de mayor edad deberían acumular un mínimo de 150 minutos semanales de actividad física aeróbica moderada, o bien no menos de 75 minutos semanales de actividad aeróbica vigorosa, o bien una combinación equivalente de actividad física moderada y vigorosa.</li>
				<li>La actividad aeróbica se desarrollará en sesiones de 10 minutos como mínimo.</li>
				<li>Para obtener aún mayores beneficios, los adultos de este grupo de edades deberían aumentar hasta 300 minutos semanales su actividad física mediante ejercicios aeróbicos de intensidad moderada, o bien practicar 150 minutos semanales de actividad aeróbica vigorosa, o bien una combinación equivalente de actividad física moderada y vigorosa.</li>
				<li>Los adultos de mayor edad con dificultades de movilidad deberían dedicar tres o más días a la semana a realizar actividades físicas para mejorar su equilibrio y evitar las caídas.</li>
				<li>Deberían realizarse actividades de fortalecimiento muscular de los grandes grupos musculares dos o más veces a la semana.</li>
				<li>Cuando los adultos de este grupo no puedan realizar la actividad física recomendada debido a su estado de salud, deberían mantenerse activos hasta donde les sea posible y les permita su salud.</li>
			</ol>
		</div>
	</div>
</div>
