<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>¡Hemos recibido su mensaje!</h3>
    <p>Pronto nos pondremos en contacto.</p><br>
    <h4>Cuerpo del mensaje:</h4>
    <p>
      Nombre: <%= @nombre %><br>
      Correo electrónico: <%= @correo %><br>
      Teléfono: <%= @telefono %><br>
      Mensaje: <%= @mensaje %><br>
    </p>
  </body>
</html>