/* Colores */

/* Colores de eventos */
$disponible: #5bc0de;
$rojo_evento: #ee5f5b;
$cancelada: #f0ad4e;
$confirmada: #b92c28;
$cancelada: #777;
$atendido: #3a87ad;

$blue: #428bca;
$blueFooter: #B5DBFF;
$lightBlue: #85D3F5;
$mediumBlue: #D9EDF7;
$lightGray: #444;
$verylightGray: #ddd;
$lightGreen: #DFF0D8;
$white: white;
$lightBlue: #85D3F5;
$Blue: #428bca;

/* Dental */
$caries: #D46A6A;
$composite: $verylightGray;
$sellante: $lightBlue;
$amalgama: $lightGreen;
$incrustacion: #EBEB00;
