// Place all the styles related to the agendamiento controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$azul_evento: #05c;
$rojo_evento: #ee5f5b;

.container { 
	width: 800px;
	margin: 0 auto;
}

#calendar { 
	position: relative;
	width: auto;
}
#form-container { 
	position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
  display:none
}

#action {
	float: right;

}

.div-form-buscar-hora {
	padding-top: 15px;	

}

.div_checkbox_centros {
	padding-left : 20px;
}

.row-buscar-hora{
	width: 500px;

}
.div-centros{
	width: 250px;
	margin-left:auto;
  margin-right:auto;
}

.disponible,
.fc-agenda .disponible .fc-event-inner,
.disponible a {
    background-color: $azul_evento; /* background color */
    border-color: $azul_evento;     /* border color */
    color: white;           /* text color */
}

.no_disponible,
.fc-agenda .no_disponible .fc-event-inner,
.no_disponible a {
    background-color: $rojo_evento; /* background color */
    border-color: $rojo_evento;     /* border color */
    color: white;           /* text color */
 }    