// Place all the styles related to the agendamiento controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container { 
	width: 800px;
	margin: 0 auto;
}
/*
.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion { 
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-selected {
	background: #F0F0F0;
}
.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}*/

#calendar { 
	position: relative;
	width: auto;
}
#form-container { 
	position: absolute;
  top: 80px;
  right: 0;
  z-index: 10;
  display:none
}

#action {
	float: right;

}

.div-form-buscar-hora {
	padding-top: 15px;	

}

.div_checkbox_centros {
	padding-left : 20px;
}

.row-buscar-hora{
	width: 500px;

}
.div-centros{
	width: 250px;
	margin-left:auto;
  margin-right:auto;
}