// Place all the styles related to the antecedentes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.antecedentes { padding: 0px; } 
.nav-antecedentes > li > a:focus, .nav-antecedentes > li > a { text-decoration: none; background-color: #cbe4f8; }
.nav-antecedentes > li > a:hover { text-decoration: none; background-color: #eeeeee; }
