@import "bootstrap";

/* colors */
$blue: #428bca;
$blueFooter: #B5DBFF;
$lightBlue: #85D3F5;
$mediumBlue: #D9EDF7;
$lightGray: #444;
$white: white;

html { overflow-y: scroll; }
html, body.aplicacion { 
  margin:0;
  padding:0; 
  height: 100% !important;
}

#wrapper {
  min-height:100%;
  position:relative;
}

body.aplicacion > div > div.container { min-height: 100% !important; width: 90%; padding-bottom: 60px; }

footer.footer-layout {
  border-top: 1px dotted #428bca !important;
  height: 60px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 0px;
  color: $lightGray !important;
  background-color: $mediumBlue;
  li > a { color: $blue !important; }
  li > a:hover { color: $lightGray !important; }
} 

nav.navbar-index { 
  background-color: #F1F8FF !important; 
  border-bottom: 1px dotted $blue !important;
  border-radius: 0px; 
  min-height: 0px;
}

nav.navbar-index > div > div > ul > li > a { color: $blue !important; letter-spacing: 1px; }
nav.navbar-index > div > div > ul > li.active > a { background-color: $blue !important; color: white !important; }
nav.navbar-index > div > div > ul > li:hover > a { background-color: $mediumBlue !important; color: white !important; }
div.container { width: 100%; }

section { overflow: auto; }
h1, h2, h3, h4, h5, h6 { line-height: 1;}
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; margin-top: 0px; }

div.ajuste-signin {
  text-align: center;
  div > form {
    a { color: $blue !important;  }
    a:hover { color: $lightGray !important; }
    div.label_div { text-align: left; font-weight: normal; width: 500px; padding-left: 190px; }
    div.label_div > label { font-weight: normal; }
  }
  h2.heading { letter-spacing: 2px !important; color: $lightGray; };
}
div.ajuste-signin > div.intro-text2 > div.alert-danger { width: 600px; margin: auto; position: relative; padding: 7px; margin-top: 10px; margin-bottom: 30px; }
.ajuste-recuperar { margin-top: 50px; }
#recuperar-error { padding: 7px; }

.table{ margin-bottom: 0px; }
.row { margin: 0px; }
.ajustado > .column { padding-left: 0px; }

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row-buscar-hora {
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
}

.medicamento,.metrica {
  padding: 0px 6px;
  margin: 0px 6px;
}
.text-med {
  margin-left: 12px; 
}

a.btn { padding: 0px; }

div.horas_agendadas {
  padding: 0px;
}
div.ultimos_eventos {
  padding-right: 0px;
  padding-left: 5px;
}

div.panel-home { padding: 0px; }
table.table { }
table.table-log { font-size: 11px; }
.table thead.ajust-head>tr>th{ vertical-align: middle; font-weight: bold; text-align: left}
.table tbody>tr>td{ padding: 2px 4px; vertical-align: middle; font-size: 12px; }

span.head-text{
  float:right;  
  font-size: 13px;
  position: relative;
  top: 2px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active { cursor:progress; }

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner { width: 10px; }
.has-spinner.btn-small.active .spinner { width: 13px; }
.has-spinner.btn.active .spinner { width: 16px; }
.has-spinner.btn-large.active .spinner { width: 19px; }
.modal-dialog { width: 800px !important; }
.row-ajustado { margin-left: 20px; }
.table thead.ajust-head > tr > th { font-weight: normal; }

#new_user { width: 900px; }

div.ajuste-sexo { margin-top: 15px; float: left; }