@import "bootstrap";

/* colors */

$lightGray: #999;

/* universal */

.container { 
  padding-left: 0px;
  padding-right: 0px;
  width: 1000px;
}

.ajustado {
  width: 100% !important;
  .column { 
    padding-left: 0px;
  }
}

html { overflow-y: scroll; }
body { padding-top: 60px; }
section { overflow: auto; }
/* typography */
/*
h1, h2, h3, h4, h5, h6 { line-height: 1;}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;;
}*/



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  /*color: $blue;*/
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.table{
  margin-bottom: 0px;  
}

.row {
  margin: 0px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row-buscar-hora {
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
}

.medicamento,.metrica {
  padding: 0px 6px;
  margin: 0px 6px;
}
.text-med {
  margin-left: 12px; 
}

a.btn { padding: 0px; }

div.horas_agendadas {
  padding: 0px;
}
div.ultimos_eventos {
  padding-right: 0px;
  padding-left: 5px;
}

div.panel-home { padding: 0px; }
table.table { }
table.table-log { font-size: 11px; }
.table thead.ajust-head>tr>th{ vertical-align: middle; font-weight: bold; text-align: left}
.table tbody>tr>td{ padding: 2px 4px; vertical-align: middle; font-size: 12px; }

span.head-text{
  float:right;  
  font-size: 13px;
  position: relative;
  top: 2px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
  width: 10px;
}

.has-spinner.btn-small.active .spinner {
  width: 13px;
}

.has-spinner.btn.active .spinner {
  width: 16px;
}

.has-spinner.btn-large.active .spinner {
  width: 19px;
}

.modal-dialog {
  width: 800px !important;
}

.row-ajustado {
  margin-left: 20px;
}
