@import "colors";

div.dental {
  div.tab-content {
  	min-height: 370px;
  }
}

.cara-dental { 
	border: 1px solid black;
	padding: 0px 1px;
	position: relative;
	font-size: 8px;
	cursor: pointer;
}

.distal { 
	top: 13px;
	left: 2px;
}

.vestibular {  }

.mesial { 
	top: 13px;
	right: 2px;
}

.palatina { 
	left: 7px;
	top: 6px;
}

.oclusal { 
	bottom: 7px; 
	right: 7px;
}

.incisal { 
	bottom: 7px;
	right: 7px;
	padding: 0px 3px; 
}  

.col-16 { 	
  width: 40px;
}

div.odontograma {
	div.content{
		width: 650px;
		float: left;
		margin-right: 20px;
		div.row { 
			div.col-md-1 {
				padding: 0px;
				text-align: center;
				label { 
					margin-bottom: 0px;	
					display: block;	
					margin-top: 5px;		
				}
				img.img_dental {
					padding-top: 10px;
				}
			}
		}
		div.car-den {
			padding-bottom: 10px;
		}
	}
}

img.img_dental,img.tooltip_dental {
  border: 2px solid white;
}

img.img_dental:hover, img.tooltip_dental:hover {
	border-radius: 3px;
  border: 2px solid $blueFooter;
  cursor: pointer;
}

img.ausente {
	opacity: 0.3;
}

div.diag-dental {
	display: table-row;
	width: 150px;
	button > span.glyphicon {
		margin-left: 7px;
	}
}

.diag_sano {
	color: $black;
}

.diag_caries {
	color: $caries;
}

.diag_composite {
	color: $composite;
}

.diag_amalgama {
	color: $amalgama;
}

.diag_sellante {
	color: $sellante;
}

.diag_incrustacion {
	color: $incrustacion;
}

.sano {
	background-color: none;
}

.caries {
	background-color: $caries;
}

.composite {
	background-color: $composite;
}

.amalgama {
	background-color: $amalgama;
}

.sellante {
	background-color: $sellante;
}

.incrustacion {
	background-color: $incrustacion;
}

div.tooltip_dental {  
  z-index: 2;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: $blueFooter 2px;
  border-style: solid;
  padding: 10px;
  left: 20px;
  top: 60px;
}

div.flex {
	display: flex;
}

.extraccion {	   
	content: url(dental/otros/extra.png);
}

.normal {	 
	
}

div.carac {
	position: absolute;
  top: 35px;
}
