<p>¡Bienvenido <%= AplicacionMedica::Application.config.site_name %>!</p>

<p>Confirma la creación de tu cuenta haciendo clic en el siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', (@resource, confirmation_token: @token) %></p>
