<p>¡Solicitud de cambio de contraseña!</p>

<p>Se ha requerido cambiar la contraseña de su cuenta. Puedes hacer esto haciendo clic en el siguiente link:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

