<div class="modal-body">
	<div class="container ajustado ajuste-separacion">
    <div class="row clearfix">
      <div class="col-md-8 column">
        <%= render :partial => "persona/seleccionar_persona", :locals => {:persona => @persona, :id => 'afm', :id_pre => '', :clase => '', :subgrupo => 'afm' } %>                   
      </div>
      <div class="col-md-4 column">
        <a id="modal-agregar-persona" href="#modal-container-agregar-persona-afm" role="button" class="btn" data-toggle="modal">O agregue una persona</a>
      </div>      
    </div>
    <div class='row'>
      <div class='column col-md-12'>        
        <label>Diagnóstico</label>:
        <input type='hidden' id="select_diag-afm-new" class='select_diag'>
        <div class="checkbox">
          <label for="diag-no-frec-afm-new">
            <input type="checkbox" name="checkboxes" id="diag-no-frec-afm-new" value="1">
            Incluir diagnósticos no frecuentes
          </label>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='column col-md-4'>
        <label>Fecha deceso:</label>
      </div>
      <div class='column col-md-8'>
        <input type='text' class="form-control ajuste-posicion" id='fecha-afm-new' placeholder='Ingresar fecha de deceso' />
      </div>  
    </div>
	</div>
</div>

<div class="modal fade" id="modal-container-agregar-persona-afm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ajuste-ancho">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="cerrarModalAgregarPersona('afm')" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Agregar persona</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => "persona/agregar_persona", :locals => {:origen => 'afm', :id => 'afm', :subgrupo => 'todos' } %>
      </div>
    </div>    
  </div>  
</div>