<% if @acceso %>
	<h4>Historial de diagnósticos</h4>

	<table class="table table-striped table-hover table-condensed">
		<thead class="ajust-head">
      <tr class="info"><th class="col-sm-2">Fecha</th><th class="col-sm-2">Recinto</th><th class="col-sm-2">Profesional</th><th class="col-sm-3">Diagnóstico</th><th class="col-sm-2">Inicio</th><th class="col-sm-1">Término</th><th class="col-sm-1">Estado</th><th class="col-sm-1">Atención</th></tr>
    </thead>
    <tbody id='lista-diagnosticos'>
      <% if @persona_diagnosticos.empty? %>
				<tr id='tr-vacio-diag'><td colspan='8' >No hay información de antecedentes médicos.</td></tr>
			<% else %>	
	      <% @persona_diagnosticos.each do |p_d| %>
	      	<%= render :partial => "antecedentes/antecedentes_medicos_row", :locals => {:p_d => p_d, :atencion_salud => @atencion_salud } %>
	      <% end %>
	    <% end %>  
    </tbody>
  </table>  
		
	<div class='container agregar-med'>
		<div class='row'>
			<div class='col-md-6 column ajuste-padding'>
				<p>Agregar información de otro antecedente médico.</p>
			</div>
			<div class='col-md-6 column'>
				<input type='hidden' id="select_diagnostico_ant" class="ajuste-select" >
					<div class="checkbox">
	          <label for="new-diag-no-frec-ant">
	            <input type="checkbox" name="checkboxes" id="new-diag-no-frec-ant" value="1">
	            Incluir diagnósticos no frecuentes
	          </label>
       	 	</div>			
			</div>
		</div>
	</div>	

<% else %>
	<%= render :partial => "layouts/permiso" %>
<% end %>  

<div id='diag_ant_modal-div'></div>

<% unless @persona_diagnosticos.empty? %>
	<% @persona_diagnosticos.each do |p_d| %>
		<%= render :partial => "antecedentes/persona_diagnostico_modal", :locals => {:p_d => p_d } %>
	<% end %>
<% end %>	

<%= javascript_include_tag "ant_qui" %>