<% if @acceso %>
	<h4>Medicamentos</h4>

	<table class="table table-striped table-hover table-condensed">
		<thead class="ajust-head">
      <tr class='info'><th class="col-sm-1">Fecha indicación</th><th class="col-sm-3">Diagnóstico</th><th class="col-sm-2">Medicamento</th><th class="col-sm-2">Posología</th><th class="col-sm-1">Fecha inicio (*)</th><th class="col-sm-1">Fecha final (*)</th><th class="col-sm-1">Acción</th></tr>
    </thead>
    <tbody id='lista-medicamentos'>
  	  <% if @persona_medicamentos.empty? %>
			<tr id='tr-vacio-med'><td colspan='7' >No hay información de medicamentos.</td></tr>
	    <% else %>
	      <% @persona_medicamentos.each do |p_m| %>
	      	<%= render :partial => "persona_medicamento/medicamento_row", :locals => {:p_m => p_m, :atencion_salud => @atencion_salud } %>
	      <% end %>
	    <% end %>  
    </tbody>
	</table>
	
	<span class='nota'>(*) Las fechas de inicio y término son estimadas.</span>

	<div class='container agregar-med'>
		<div class='row'>
			<div class='col-md-7 column ajuste-padding'>
				<p>Agregar información de otro medicamento administrado:</p>
			</div>
			<div class='col-md-5 column'>
				<input type='hidden' id="select_medicamento_ant">				
			</div>
		</div>
	</div>			
<% else %>
	<%= render :partial => "layouts/permiso" %>
<% end %>  

<div id='med_ant_modal-div'></div>

<% if @persona_medicamentos.empty? %>
<% else %>
	<% @persona_medicamentos.each do |p_m| %>
		<%= render :partial => "persona_medicamento/persona_medicamento_modal", :locals => {:persona_medicamento => p_m } if p_m.es_antecedente == true %>
	<% end %>
<% end %>	

<%= javascript_include_tag "ant_med" %>