<h3>Antecedentes</h3>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
			<ul class="nav nav-pills nav-pills nav-stacked" role="tablist">
			  <li class="active"><a href="#ant_med" role="tab" data-toggle="tab">Antecedentes médicos</a></li>
			  <li><a href="#ant_quir" role="tab" data-toggle="tab">Antecedentes quirúrgicos</a></li>
			  <li><a href="#medicamentos" role="tab" data-toggle="tab">Medicamentos</a></li>
			  <li><a href="#settings" role="tab" data-toggle="tab">Alergias</a></li>
			  <li><a href="#settings" role="tab" data-toggle="tab">Hábitos generales</a></li>
			  <li><a href="#settings" role="tab" data-toggle="tab">Hábitos de alcohol</a></li>
			  <li><a href="#settings" role="tab" data-toggle="tab">Hábitos de tabaco</a></li>
			  <li><a href="#settings" role="tab" data-toggle="tab">Antecedentes familiares</a></li>
			  <li><a href="#settings" role="tab" data-toggle="tab">Antecedentes sociales</a></li>
			</ul>
		</div>
		<div class="col-md-9 column">
			<div class="tab-content">
			  <div class="tab-pane active" id="ant_med"><%= render :partial => "antecedentes_medicos" %></div>
			  <div class="tab-pane" id="ant_quir"><%= render :partial => "antecedentes_quirurgicos" %></div>
			  <div class="tab-pane" id="medicamentos"><%= render :partial => "medicamentos" %></div>
			  <div class="tab-pane" id="profile">dos</div>
			  <div class="tab-pane" id="messages">tres</div>
			  <div class="tab-pane" id="settings">cuatro</div>
			</div>
		</div>
	</div>
</div>
