<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-success btn-xs">
    <input type="radio" name="options" id="option1" autocomplete="off" checked>-
  </label>
  <label class="btn btn-warning btn-xs">
    <input type="radio" name="options" id="option2" autocomplete="off">O
  </label>
  <label class="btn btn-danger btn-xs">
    <input type="radio" name="options" id="option3" autocomplete="off">+
  </label>
  <label class="btn btn-default btn-xs active">
    <input type="radio" name="options" id="option3" autocomplete="off">N/R
  </label>
</div>