<div class="row">
	<div class="col-md-2 no-padding">
		Pieza dental
	</div>
	<div class="col-md-2 no-padding">
		<diagnosis-test-panel></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 no-padding">
		<diagnosis-test-panel></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 no-padding">
		<diagnosis-test-panel></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 no-padding">
		<diagnosis-test-panel></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 no-padding">
		<textarea id='commentario-endodoncia' class="input-mini form-control" rows='1'></textarea>	
	</div>
</div>