<div class="row">
	<div class="col-md-1 no-padding ajus-end" id="{{diagnosis.name}}">
		<img id="{{diagnosis.name}}" ng-src="{{diagnosis.image}}" class="end-test">
		<span class="end"> {{diagnosis.name}} </span>
		<span class="glyphicon glyphicon-chevron-left glyphicon-2" aria-hidden="true" ng-mouseover="endodontic.showTooltipEnd($event,'tooltip_test')"></span>
	</div>
	<div class="col-md-2 ajus-pad-end">
		<diagnosis-test-panel valor="diagnosis.calor" tipo="'calor'" name="diagnosis.name" filter="tagFilter" general="general"></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 ajus-pad-end">
		<diagnosis-test-panel valor="diagnosis.electrico" tipo="'electrico'" name="diagnosis.name" filter="tagFilter" general="general"></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 ajus-pad-end">
		<diagnosis-test-panel valor="diagnosis.percusion" tipo="'percusion'" name="diagnosis.name" filter="tagFilter" general="general"></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 ajus-pad-end">
		<diagnosis-test-panel valor="diagnosis.palpacion" tipo="'palpacion'" name="diagnosis.name" filter="tagFilter" general="general"></diagnosis-test-panel> 
	</div>
	<div class="col-md-2 ajus-pad-end"> 
		<textarea id='comentario-endodoncia' class="input-mini form-control" rows='1' ng-model="diagnosis.observacion" general="general"></textarea>	
	</div>
	<div class="col-md-1 ajus-pad-end"> 
		<a href="#" ng-click="endodontic.deleteTest(diagnosis)">Eliminar</a>
	</div>
</div>

<%= javascript_include_tag "atencion_salud/dental" %>