<div class="row">
	<div class="col-md-2">
		Pieza dental
	</div>
	<div class="col-md-2">
		Calor
	</div>
	<div class="col-md-2">
		Eléctrico
	</div>
	<div class="col-md-2">
		Percusión
	</div>
	<div class="col-md-2">
		Palpación
	</div>
	<div class="col-md-2">
		Observación
	</div>

</div>