<div class="row">
	<div class="col-md-3 no-padding" id="{{glosa_endo.id}}">
		<img id="{{glosa_endo.id}}" ng-src="{{glosa_endo.image}}" class="end-test">
		<span class="strong"> {{glosa_endo.name}} </span>
		<span>{{glosa_endo.descripcion}} </span>
	</div>
	<div class="col-md-4 ajus-pad-end">
		Diagnóstico {{glosa_endo.caracteristica}} 
	</div>
	<div class="col-md-2 ajus-pad-end">
		Tratamiento
	</div>
	<div class="col-md-2 ajus-pad-end">
		Valor
	</div>
	<div class="col-md-1 ajus-pad-end"> 
		<a href="#" ng-click="treatment.delete(glosa_endo)">Eliminar</a>
	</div>
</div>
