<div class="row">
	<div class="col-md-3 no-padding" id="{{glosa_endo.id}}">
		<img id="{{glosa_endo.id}}" ng-src="{{glosa_endo.image}}" class="end-test">
		<span class="strong"> {{glosa_endo.name}} </span>
		<span>{{glosa_endo.descripcion}} </span>
	</div>
	<div class="col-md-3 ajus-pad-end">
		<span>{{ treatment.getDiagnostico(glosa_endo.name,"odontograma") }} </span><tooth-panel-treatment></tooth-panel-treatment>
	</div>
	<div class="col-md-3 ajus-pad-end">
		<span>{{ treatment.getTratamiento(glosa_endo.name) }} </span> <treatment></treatment>
	</div>
	<div class="col-md-1 ajus-pad-end">
		<span>{{ treatment.getValor(glosa_endo.name) }} </span>
	</div>
	<div class="col-md-1 ajus-pad-end">
		<span>{{ treatment.getValor(glosa_endo.name) }} </span>
	</div>
	<div class="col-md-1 ajus-pad-end"> 
		<a href="#" ng-click="treatment.delete(glosa_endo.name,'odontograma')">Eliminar</a>
	</div>
</div>
