<div class="row">

	<div class="col-md-1 no-padding ajus-end" id="{{glosa_endo.id}}">
		<img id="{{glosa_endo.id}}" ng-src="{{glosa_endo.image}}" class="end-test">
		<span class="end"> {{glosa_endo.name}}  </span>
	</div>
	<div class="col-md-4 ajus-pad-end">
		{{glosa_endo.descripcion}} 
	</div>
	<div class="col-md-2 ajus-pad-end">
		{{glosa_endo.caracteristica}} 
	</div>
	<div class="col-md-2 ajus-pad-end">
	</div>
	<div class="col-md-2 ajus-pad-end">
	</div>

	<div class="col-md-1 ajus-pad-end"> 
		<a href="#" ng-click="treatment.delete(glosa_endo)">Eliminar</a>
	</div>
</div>

<%= javascript_include_tag "atencion_salud/dental" %>