<label>{{ indice.id }}</label>
<input id="replyNumber" min="1" class="form-control input-sm indice" maxlength="1"/>
<input id="replyNumber" min="1" class="form-control input-sm indice" />
<input id="replyNumber" min="1" class="form-control input-sm indice" />
<input id="replyNumber" min="1" class="form-control input-sm indice" />