<label>{{ indice.id }}</label>
<input min="1" type="number" max="4" class="form-control input-sm indice" maxlength="1" ng-model="indice.vestibular" onkeypress="return isNumber(event)" ng-change="saveIndice(indice,tipo,'vestibular')" />
<input min="1" type="number" max="4" class="form-control input-sm indice" maxlength="1" ng-model="indice.mesial" onkeypress="return isNumber(event)" ng-change="saveIndice(indice,tipo,'mesial')" />
<input min="1" type="number" max="4" class="form-control input-sm indice" maxlength="1" ng-model="indice.palatino" onkeypress="return isNumber(event)" ng-change="saveIndice(indice,tipo,'palatino')" />
<input min="1" type="number" max="4" class="form-control input-sm indice" maxlength="1" ng-model="indice.distal" onkeypress="return isNumber(event)" ng-change="saveIndice(indice,tipo,'distal')" />