<img id="{{tooth.name}}" ng-src="{{tooth.image}}" class="img_dental" ng-class="tooth.caracteristica" ng-click="odontogram.showTooltip($event)">
<div class="carac" ng-class="tooth.caracteristica" ng-click="odontogram.showTooltip($event,tooth)" ></div>