<span class="cara-dental distal" ng-class="tooth.diag_distal" ng-click="odontogram.setDiag(tooth,'diag_distal')">D</span>
<span class="cara-dental vestibular" ng-class="tooth.diag_vestibular" ng-click="odontogram.setDiag(tooth,'diag_vestibular')">V</span>
<span class="cara-dental mesial" ng-class="tooth.diag_mesial" ng-click="odontogram.setDiag(tooth,'diag_mesial')">M</span><br>
<span class="cara-dental palatina" ng-class="tooth.diag_palatina" ng-click="odontogram.setDiag(tooth,'diag_palatina')">P</span>
<span ng-show="tooth.cara_dental" class="cara-dental incisal" ng-class="tooth.diag_central" ng-click="odontogram.setDiag(tooth,'diag_central')">I</span>
<span ng-hide="tooth.cara_dental" class="cara-dental oclusal" ng-class="tooth.diag_central" ng-click="odontogram.setDiag(tooth,'diag_central')">O</span>