<span class="cara-dental distal">D</span>
<span class="cara-dental vestibular">V</span>
<span class="cara-dental mesial">M</span><br>
<span class="cara-dental palatina">P</span>
<span ng-show="tooth.cara_dental" class="cara-dental incisal">I</span>
<span ng-hide="tooth.cara_dental" class="cara-dental oclusal">O</span>