$( "#contenido-ver-atenciones-boleta" ).replaceWith("<div id='contenido-ver-atenciones-boleta'><%= escape_javascript( render :partial => 'ver_atenciones_boleta', :locals => {:atenciones => @atenciones } ) %></div>")			
