<h4>Generar boletas</h4>  
<% if @atenciones_salud_para_boleta.blank? %> 
  <p>No hay atenciones de salud para pagar.</p>
<% else %>  
  <div class='container well'>
    <h5>Filtrar atenciones de salud</h5>
    <div class='row'>
      <div class='col-md-4'>
      	<label class="control-label" for="radios">Profesionales</label>			  
				  <div class="radio">
				    <label for="radios-0">
				      <input type="radio" name="radios-boletas" id="radios-0" value="1" checked="checked">
				      Todos los profesionales
				    </label>
					</div>
				  <div class="radio">
				    <label for="radios-1">
				      <input type="radio" name="radios-boletas" id="radios-1" value="2">
				      	Algunos profesionales
				    </label>
					</div>		   
      </div>
	    <div class='col-md-4'>
        <div class="form-group">
        	Desde:
          <div class='input-group date' id='datetimepicker6'>
            <input type='text' class="form-control" id='fecha_inicio_boleta' name='date' placeholder='Seleccionar fecha' />
            <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
	    </div>
	    <div class='col-md-4'>
        <div class="form-group">
        	Hasta:
          <div class='input-group date' id='datetimepicker7'>
            <input type='text' class="form-control" id='fecha_hasta_boleta' name='date' placeholder='Seleccionar fecha' />
            <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
	    </div>

    </div>
    <div class='row'>
      <div class='col-md-12'><br>
        <button id="filtrar-atenciones" class="btn btn-primary ajus-pos-right">Filtrar atenciones</button>
      </div>
    </div>
  </div>

  <br><br>
  <h5>Atenciones de salud seleccionadas para pago</h5>    
  <table id="lista_atenciones_buscar" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Paciente</th>
        <th>Rut</th>          
        <th>Ver atención</th>          
      </tr>
    </thead>
    <tbody> 
    </tbody> 
  </table>

  <!-- Modal -->
  <div class="modal fade" id="algunos_profesionales" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header ajuste-modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Seleccionar profesionales</h4>
        </div>
        <div class="modal-body ajuste-height">
          Lista de profesionales      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar ventana</button>
        </div>
      </div>
    </div>
  </div>



<% end %>  

<%= javascript_include_tag "administracion" %>