<div class="container">
  <footer class="footer-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Derechos reservados &copy; <%= AplicacionMedica::Application.config.site_name %> 2014</span>
            </div>
            <div class="col-md-8">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Política de privacidad</a>
                    </li>
                    <li><a href="#">Términos de uso</a>
                    </li>
                    <li><%= link_to "Acerca de MedRacer",   about_path %></li>
                    <li><%= link_to "Contacto", '#' %></li>
                    <li><a href="http://news.railstutorial.org/">Novedades</a></li>
                </ul>
            </div>
        </div>
    </div>
  </footer>
</div>