<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "MedRacer", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
          <li><%= link_to "Ayudar",    '#' %></li>
          <li><%= link_to "Ingresar", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>